@{
    string controllerName = User.IsInRole("Student") ? "Student" : "Assignment";
    string actionName = User.IsInRole("Student") ? "MyCourses" : "Index";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/logo2.0.png" style="width:50px; height:50px" alt="Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            @if (User.IsInRole("Admin"))
            {
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-action="Index" asp-controller="Admin">
                            <i class="fas fa-tachometer-alt"></i> Dashboard
                        </a>
                    </li>
                </ul>
            }
            @if (User.IsInRole("Student") || User.IsInRole("Instructor"))
            {
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="@controllerName" asp-action="@actionName">
                            <i class="fas fa-graduation-cap"></i> My Courses
                        </a>
                    </li>
                    @if (User.IsInRole("Student"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">
                                <i class="fas fa-book"></i> Major Courses
                            </a>
                        </li>
                    }
                </ul>
            }

            <ul class="navbar-nav ms-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">
                            <i class="fas fa-user"></i> Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">
                            <i class="fas fa-sign-out-alt"></i> Log out
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
