@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h1>Change Password</h1>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <!-- Form -->
            <div class="form-container">
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group mt-2">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <input type="submit" value="Change password" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Image -->
            <div class="image-container text-center">
                <img src="~/images/changepassword.jpg" alt="Change Password" class="img-fluid" />
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .form-container {
        max-width: 500px;
        margin: 0 auto;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
    }
</style>
